<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->

<div class="">
  <div class="box-container box-grid">
<!--    <div class="box">-->
<!--      <img [src]="imgPath[0]" alt="" >-->
<!--      <label for="" class="file-upload"> select image-->
<!--        <input type="file" name="" id="" class="upload" (change)="setPreveiw($event.target.files)">-->
<!--      </label>-->
<!--      <span>Remove image</span>-->
<!--    </div>-->
    <div *ngFor="let img of imageObj" class="box">
      <span (click)="removePreview(img)" >&times; </span>

      <img [src]="img.imgUrl" alt="" >
      <div class="file-container">
      <label *ngIf="!img.imgUrl" [for]="img.id" class="file-upload" > add
        <input type="file" name="" [id]="img.id" class="upload" (change)="setPreview($event.target.files,img)">
      </label>
      </div>
    </div>
  <!--    <div class="box">-->
  <!--      <img [src]="imgPath[]" alt="">-->
  <!--      <label for="" class="file-upload"> select image-->
  <!--        <input type="file" name="" id="" class="upload" (change)="setPreveiw($event.target.files)">-->
  <!--      </label>-->
  <!--    </div>-->
  <!--    <div class="box">-->
  <!--      <img [src]="imgPath[]" alt="">-->
  <!--      <label for="" class="file-upload"> select image-->
  <!--        <input type="file" name="" id="" class="upload" (change)="setPreveiw($event.target.files)">-->
  <!--      </label>-->

  <!--    </div>-->
  <!--    <div class="box">-->
  <!--      <img [src]="imgPath[]" alt="">-->
  <!--      <label for="" class="file-upload"> select image-->
  <!--        <input type="file" name="" id="" class="upload" (change)="setPreveiw($event.target.files)">-->
  <!--      </label>-->
  <!--    </div>-->
  <!--    <div class="box">-->
  <!--      <img [src]="imgPath[]" alt="">-->
  <!--      <label for="" class="file-upload"> select image-->
  <!--        <input type="file" name="" id="" class="upload" (change)="setPreveiw($event.target.files)">-->
  <!--      </label>-->
  <!--    </div>-->
  <!--    <div class="box">-->
  <!--      <img [src]="imgPath[]" alt="">-->
  <!--      <label for="" class="file-upload"> select image-->
  <!--        <input type="file" name="" id="" class="upload" (change)="setPreveiw($event.target.files)">-->
  <!--      </label>-->
  <!--    </div>-->
  </div>
</div>

<router-outlet></router-outlet>
